.work, #bt_next{
	display: none;
}

.btn_2_3{
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
}

.bootstrap-tagsinput{
	border-radius: 0;
	width: 90%;
}

.q_label{
	margin-top: 20px;
	font-weight: bold;
}

.message{
	font-weight: bold;
}

/* STATS ------*/
.stat{
	border: 1px solid #777;
	background-color: #262626;
	border-radius: 6px;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	color: #eee;
}
.stat .title{
	font-weight: bold;	
	display: block;
}
.stat .number{
	font-weight: bold;
	font-size: 40px;
	display: block;
}
.stat .text{
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
	display: block;
}
.stat .history{
	height: 57px;
}

hr{
	margin-top: 10px;
	margin-bottom: 0;
	border-top-color: #ccc;
}
h2{
	margin-top: 10px;
}
.hr{
	border-bottom: 1px solid #aaa;
	height: 5px;
}

.forgot_color{
	background-color: #D9534F;
}
.yes_color{
	background-color: #A0BC5B;
}
.history_yes{
	color: #A0BC5B;
}
.history_yes .title{
	color: #eee;
}

.no_color{
	background-color: #DFAE1F;
}
.history_no{
	color: #DFAE1F;
}
.history_no .title{
	color: #eee;
}

.history_all{
	color: #eee;
	font-size: 40px;
	padding-right: 2px;
}

.history td{
	width: 28px;
}