#result,
#txt_create_merge_project,
#create_merge_project_ok,
#txt_init_nrz_src_project,
#init_nrz_src_project_ok,
#txt_send_src_file,
#send_src_file_ok,
#send_src_analyse,
#send_src_analyse_wait,
#send_src_analyse_ok,
#txt_init_nrz_ref_project,
#init_nrz_ref_project_ok,
#txt_send_ref_file,
#send_ref_file_ok,
#send_ref_analyse
#send_ref_analyse_ok,
#txt_add_src_nrz_projects,
#add_src_nrz_projects_ok,
#txt_add_ref_nrz_projects,
#add_ref_nrz_projects_ok,
#bloc_bt_next
{
    display: none;
}

.progress-bar {
    border-right: solid 1px #FFF;
}
.progress-bar:last-child {
    border: none;
}
.chk{
    visibility: hidden;
    color: #999;
}

#modal_projects_body hr{
    margin: 0;
    margin-top: 5px;
}
.progress{
    height: 5px;
}
.bloc_project{
    cursor: pointer;
}

.btn_2_3{
  width: 120px;
  border-radius: 10px;
}

.internal_ref_title{
    color: #25358C;
}

.bloc_project .logo{
    width: 120px;
}
.bloc_project H3{
    color: #555;
}

.fix_height{
    height: 500px;
}

.row_select_project:hover{
    background-color: #ddd;
}

/*Menu*/

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #ddd;
  border-color: #ddd;
}

.selected_file{
    width: 100%;
    text-align: left;
    font-size: 16px;
    visibility: hidden;
}

.selected_file .title{
    font-weight: normal;
    color: #777;
    display: inline-block;
    overflow: hidden;
}
.selected_file .file{
    display: inline-block;
    width: 250px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  /*
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  */
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #262626;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #ddd;
  background-image: #ddd;
  color: #333;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ddd;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.bhoechie-tab{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
/*/Menu*/
