.draggable {
	width: 200px; 
	height: 30px; 
	border: #777 1px solid;
	background-color: #eee;
	color: #444;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: left;
	cursor: move;
}

.bloc
{
	height: 150px;
	width: 100%;
	border: #aaa 1px solid;
	display: inline-block;
}

.target_src{
	border: dashed 4px #D474BB;
}

.target_ref{
	border: dashed 4px #FDDE6C;
}

.txt_src, .txt_ref{
	font-style: italic;
	padding-left: 5px;
}

.titre h3{
	margin-bottom: 0;
}
.titre .filename{
	margin-bottom: 5px;
	font-size: 1.1em;
	/*color: #777;*/
}

#work{
    display: none;
}


#show_report_ok, #upload_file_ok, #check_file_ok{
    visibility: hidden;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 1100px;
    }
}
.column{
    /*width: 100%;*/
    height: 40px;

    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid #777;
    border-radius: 5px;
}

.keys{
	font-style: italic;
}

.key_numbers{
	color: #25358C;
	font-weight: bold;
}

#info_ref, #info_src{
	border-left: 3px solid #aaa;
	padding-left: 5px;
}

#src_columns, #ref_columns{
	margin-top: 10px;
}