/*
.work, #bt_next{
	display: none;
}
*/
.btn_2_3{
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
}

.btn_icon{
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
}


.bootstrap-tagsinput{
	border-radius: 0;
	width: 90%;
}

.q_label{
	margin-top: 20px;
	font-weight: bold;
}

.message{
	font-weight: bold;
}

/* STATS ------*/
.stat{
	border: 1px solid #eee;
	background-color: #eee;
	border-radius: 6px;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	color: #333;
    margin: 20px;
}
.stat .title{
	font-weight: bold;
	display: block;
}
.stat .number{
	font-weight: bold;
	font-size: 40px;
	display: block;
}
.stat .text{
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
	display: block;
}
.stat .history{
	height: 57px;
}

hr{
	margin-top: 10px;
	margin-bottom: 0;
	border-top-color: #ccc;
}
h2{
	margin-top: 10px;
}
.hr{
	border-bottom: 1px solid #aaa;
	height: 5px;
}

.forgot_color{
	background-color: #81BEF7;
}
.previous_color{
	background-color: #81BEF7;
}

.yes_color{
  background-color: #A0BC5B;
  background-color: #04B4AE;
}
.history_yes{
  color: #A0BC5B;
	color: #04B4AE;
}
.history_yes .title{
	color: #eee;
}

.no_color{
  background-image: radial-gradient(circle at bottom left, #DFAE1F, #FACC2E);
}
.history_no{
  color: #DFAE1F;
}
.history_no .title{
	color: #eee;
}

.history_all{
	color: #eee;
	font-size: 40px;
	padding-right: 2px;
}

.history td{
	width: 28px;
}

.user_tag{
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
.user_tag:hover{
  color: #E00612;
}

#user_filters{
  font-style: italic;
}

#user_filters .bootstrap-tagsinput{
  border:0;
}
