#msg_danger, #create_project_ok, #upload_file_progress, #report{
    /*On masque par défaut*/
    display: none;
}
#show_report_ok, #upload_file_ok, #check_file_ok{
    visibility: hidden;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 1100px;
    }
}