#msg_danger, #result, #steps, #wait{
    /*On masque par défaut*/
    display: none;
}

#start_treatment_ok, #show_report_ok, #reports{
	visibility: hidden;
}
.tagsinput-perso{
	margin-right: 5px;
}
.tagsinput-perso-all{
	background-color: #5bc0de;
	/*background-color: #E37495;*/
	color: white;
}
#dl_file{
	cursor: pointer;
}
.category_title{
	cursor: pointer;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 1100px;
    }
}

#reports{
	min-height: 400px;
}

H4{
	color: #25358C;
}
H4 i{
	color: #E00612;
}