.work, #bt_next{
	display: none;
}

.btn_2_3{
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
}

.btn_icon{
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
}


.bootstrap-tagsinput{
	border-radius: 0;
	width: 90%;
}

.q_label{
	margin-top: 20px;
	font-weight: bold;
}

.message{
	font-weight: bold;
}

/* STATS ------*/
.stat{
	border: 1px solid #777;
	background-color: #262626;
	border-radius: 6px;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	color: #eee;
}
.stat .title{
	font-weight: bold;
	display: block;
}
.stat .number{
	font-weight: bold;
	font-size: 40px;
	display: block;
}
.stat .text{
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
	display: block;
}
.stat .history{
	height: 57px;
}

hr{
	margin-top: 10px;
	margin-bottom: 0;
	border-top-color: #ccc;
}
h2{
	margin-top: 10px;
}
.hr{
	border-bottom: 1px solid #aaa;
	height: 5px;
}

.forgot_color{
	background-color: #81BEF7;
}
.previous_color{
	background-color: #81BEF7;
}

.yes_color{
  background-color: #A0BC5B;
	background-color: #87E990;
}
.history_yes{
  color: #A0BC5B;
	color: #87E990;
}
.history_yes .title{
	color: #eee;
}

.no_color{
  background-color: #DFAE1F;
	background-color: #FF7F00;
}
.history_no{
  color: #DFAE1F;
	color: #FF7F00;
}
.history_no .title{
	color: #eee;
}

.history_all{
	color: #eee;
	font-size: 40px;
	padding-right: 2px;
}

.history td{
	width: 28px;
}

.user_tag{
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
.user_tag:hover{
  color: #E00612;
}

#user_filters{
  font-style: italic;
}

#user_filters .bootstrap-tagsinput{
  border:0;
}

/* btn YES */

.btn-yes {
  color: #333;
  background-color: #87E990;
  border-color: #87E990;
}
.btn-yes:focus,
.btn-yes.focus {
  color: #333;
  background-color: #87E990;
  border-color: #aaa;
}
.btn-yes:hover {
  color: #333;
  background-color: #87E990;
  border-color: #777;
}
.btn-yes:active,
.btn-yes.active,
.open > .dropdown-toggle.btn-yes {
  color: #333;
  background-color: #87E990;
  border-color: #777;
}
.btn-yes:active:hover,
.btn-yes.active:hover,
.open > .dropdown-toggle.btn-yes:hover,
.btn-yes:active:focus,
.btn-yes.active:focus,
.open > .dropdown-toggle.btn-yes:focus,
.btn-yes:active.focus,
.btn-yes.active.focus,
.open > .dropdown-toggle.btn-yes.focus {
  color: #333;
  background-color: #87E990;
  border-color: #777;
}
.btn-yes:active,
.btn-yes.active,
.open > .dropdown-toggle.btn-yes {
  background-image: none;
}
.btn-yes.disabled,
.btn-yes[disabled],
fieldset[disabled] .btn-yes,
.btn-yes.disabled:hover,
.btn-yes[disabled]:hover,
fieldset[disabled] .btn-yes:hover,
.btn-yes.disabled:focus,
.btn-yes[disabled]:focus,
fieldset[disabled] .btn-yes:focus,
.btn-yes.disabled.focus,
.btn-yes[disabled].focus,
fieldset[disabled] .btn-yes.focus,
.btn-yes.disabled:active,
.btn-yes[disabled]:active,
fieldset[disabled] .btn-yes:active,
.btn-yes.disabled.active,
.btn-yes[disabled].active,
fieldset[disabled] .btn-yes.active {
  background-color: #2B2F32;
  border-color: #777;
  color: #fff;
}
.btn-yes .badge {
  color: #2B2F32;
  background-color: #fff;
}

/* btn NO */

.btn-no {
  color: #333;
  background-color: #FF7F00;
  border-color: #FF7F00;
}
.btn-no:focus,
.btn-no.focus {
  color: #333;
  background-color: #FF7F00;
  border-color: #aaa;
}
.btn-no:hover {
  color: #333;
  background-color: #FF7F00;
  border-color: #777;
}
.btn-no:active,
.btn-no.active,
.open > .dropdown-toggle.btn-no {
  color: #333;
  background-color: #FF7F00;
  border-color: #777;
}
.btn-no:active:hover,
.btn-no.active:hover,
.open > .dropdown-toggle.btn-no:hover,
.btn-no:active:focus,
.btn-no.active:focus,
.open > .dropdown-toggle.btn-no:focus,
.btn-no:active.focus,
.btn-no.active.focus,
.open > .dropdown-toggle.btn-no.focus {
  color: #333;
  background-color: #FF7F00;
  border-color: #777;
}
.btn-no:active,
.btn-no.active,
.open > .dropdown-toggle.btn-no {
  background-image: none;
}
.btn-no.disabled,
.btn-no[disabled],
fieldset[disabled] .btn-no,
.btn-no.disabled:hover,
.btn-no[disabled]:hover,
fieldset[disabled] .btn-no:hover,
.btn-no.disabled:focus,
.btn-no[disabled]:focus,
fieldset[disabled] .btn-no:focus,
.btn-no.disabled.focus,
.btn-no[disabled].focus,
fieldset[disabled] .btn-no.focus,
.btn-no.disabled:active,
.btn-no[disabled]:active,
fieldset[disabled] .btn-no:active,
.btn-no.disabled.active,
.btn-no[disabled].active,
fieldset[disabled] .btn-no.active {
  background-color: #2B2F32;
  border-color: #777;
  color: #fff;
}
.btn-no .badge {
  color: #2B2F32;
  background-color: #fff;
}
