.draggable {
	width: 80%;
	/*height: 30px; */
	border: #aaa 1px solid;
	background-color: #eee;
	color: #444;
	padding-left: 5px;
	/*border-radius: 5px;*/
	margin-bottom: 10px;
	text-align: left;
	cursor: move;
	font-size: 13px;
}

#body>.left{
	border-right: 4px dotted #eee;
}
#body>.center{
	padding-left: 10px;
	padding-right: 10px;
}
#body>.right{
	border-left: 4px dotted #eee;
}
#body H3{
	margin-top: 0;
	margin-bottom: 0;
	display: inline;
}

.info{
	font-size: 60px;
	color: #efefef;
}

.box{
	width: 100%;
	border: #ccc 1px solid;
	background-color: #efefef;
	color: #222;
	padding-left: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 12px;
	cursor: pointer;
}

.box .tag{
	font-size: 14px;
	font-weight: bold;
	color:
}
.box .type{
	font-style: italic;
	margin-bottom: 2px;
	font-size: 10px;
	color: #000;
	display: inline-block;
	margin-left: 10px;
}

.box .sample{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-style: italic;
	color: #777;
}

.box .left{
	width: 80%;
	display: inline-block;
}

.box .right{
	float: right;
	margin-top: 3px;
	margin-right: 3px;
}


.box .pastille{
	color:#000;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius:5px;
	border: 1px solid #333;
}

.right2{
	margin-top: 3px;
}

.box .add{
	color: #fff;
}
.box:hover .add{
	/*color: #25358C;*/
/*radial-gradient(circle at bottom left, #532899, #25358C)*/
}
.box:hover{
	background: radial-gradient(circle at bottom left, #efefef, #ddd);
}

/*
.bloc
{
	height: 80px;
	width: 100%;
	border: #aaa 1px solid;
	display: inline-block;
}
*/

.association{
	border-radius:0px;
	border: 1px solid #ddd;
	padding: 0 10px 15px 10px;
	background-color: #efefef;
	margin-bottom: 20px;
}
.association-select{
	border: 1px solid #aaa;
	/*box-shadow: 1px 1px 12px #555;*/
	box-shadow: 1px 1px 12px #999;
}

.association .tags{
	width: 100%;
	min-height: 35px;
	border-radius: 5px;
	border: solid 1px #ccc;
	background-color: #fff;
	padding-left: 5px;
	padding-bottom: 5px;
}

.my_badge{
	color: #fff;
	margin-top: 5px;
	margin-right: 5px;
	background-color: #999;
}

.cross{
	color: #fff;
	display: inline-block;
	padding-left: 5px;
	cursor: pointer;
}
.cross:hover{
	color: #f00;
}


.target_src{
	border: dashed 4px #D474BB;
}

.target_ref{
	border: dashed 4px #FDDE6C;
}

.txt_src, .txt_ref{
	font-style: italic;
	padding-left: 5px;
}

.titre h3{
	margin-bottom: 0;
}
.titre .filename{
	margin-bottom: 5px;
	font-size: 1.1em;
	/*color: #777;*/
}
/*
#work{
    display: none;
}
*/

#show_report_ok, #upload_file_ok, #check_file_ok{
    visibility: hidden;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 1100px;
    }
}
.column{
    /*width: 100%;*/
    height: 40px;

    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid #777;
    border-radius: 0px;
}


.keys{
	font-style: italic;
}

.key_numbers{
	color: #25358C;
	font-style: italic;
	/*font-weight: bold;*/
}

#info_ref, #info_src{
	padding-left: 5px;
}


#didacticiel{
	visibility: hidden;
	display: inline;
}

#bt_info_ref, #bt_info_ref{
	cursor: pointer;
}

#bt_next{
	margin-bottom: 30px;
	visibility: hidden;
}

#entete{
	padding-top: 20px;
	padding-bottom: 20px;
}

#tempo{
	min-height: 300px;
}
