
/*
vert
#A7CA48

bleu
#6097AC

gris foncé
#72817E

gris clair
#AFC5C3

corail
#FA5D58
*/
.color_src{
  color: #D474BB;
}

.color_ref{
  color: #FDDE6C;
}

.well{
  border-radius: 0;
  margin: 0;
}
.container-fluid{
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}


.intro{
  background-color: rgba(255,255,255,0.7);
}

.background_1{
  background-image: radial-gradient(circle at bottom left, #fff, #fff);
}

.background_2{
  background-image: radial-gradient(circle at bottom left, #262626, #404040);
}

body{
    background-image: radial-gradient(circle at bottom left, #eee, #222);
    background-image: linear-gradient(to top, #eee, #262626);
    /*background-image: linear-gradient(to top, #E00612, #25358C);*/
    background: #fff;
}

/* ENTETE ------------------------------*/
.entete{
  background-color: #fff;
  padding-bottom: 15px;
  color: #777;
  font-style: italic;
}
.entete .logo_mesri>img{
  margin-top: 25px;
}
.entete .logo_site>img{
  margin-top: 25px;
  width: 80%;
}
.entete .logo_eig>img{
  margin-top: 5px;
}
.entete2{
  background-color: #262626;
  padding-top: 10px;
  padding-bottom: 10px;
}
.entete2 a{
  color: #fff;
}

.my_alert{
  border-radius: 0;
}
/* /ENTETE ------------------------------*/


#bt_skip{
  cursor: pointer;
}

.didacticiel img{
  width: 100px;
}


h1{
  color: #25358C;
  font-size: 50px;
  margin-top: 0;
}
hr{
  border-bottom-color: #333;
}

.page_title{
  margin-top: 0;
}

.page_explain{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 4px dotted #555;
}
#result{
  padding-bottom: 20px;
}
#result #steps{
  color: #eee;
}
#report>h2{
  color: #eee;
}
#report li{
  list-style: none;
}

.poudre{
  position: fixed;
  width: 100%;
  height: 100%;
  /*top: -250px;*/
  left: 0;
  z-index: -1;
}
.poudre_pos_home{
  top: 0;
}

.cl_filename{
  color: #333;
  font-weight: bold;
}
.cl_filename .file{
  font-style: italic;
  color: #E00612;
}

.steps{
	display: inline-block;
  list-style-type: none;
  padding-left: 0;
}
.steps .step{
  display: inline-block;
  background-color: #f5f5f5;
  width: 300px;
  float: left;
  padding-left: 10px;
  border-left: 5px solid #777;
  border-bottom: 1px solid #777;
}
.steps .active{
  border-color: #E00612;
}
.steps .title{
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
.steps .accueil{
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #aaa;
  border-bottom: 0;
  width: 170px;
}
.step_numbers{
  font-size: 50px;
  font-weight: bold;
  color: #E00612;
}


.menu{
  background-color: #222;
  min-height: 100vh;
}


.check_ok{
  left: 10px;
  color: #fff;
}




/* Surcharge bootstrap */
a{
  color: #25358c;
}
a:hover{
  color: #E00612;
}

.navbar{
  border-radius: 0 0 4px 0 ;
  margin-bottom: 0;
}

.btn{
  border-radius: 4px;
}

.btn_2_3{
  width: 120px;
  border-radius: 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 0 5px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
  margin-top: 9px;
}

.btn-success {
  color: #fff;
  /*background-color: #E00612;*/
  background-image: radial-gradient(circle at bottom left, #F72506, #E00612);
  border-color: #E00612;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #E00612;
  border-color: #122b40;
}
.btn-success:hover {
  color: #fff;
  background-color: #E00612;
  border-color: #204d74;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #E00612;
  border-color: #204d74;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #E00612;
  border-color: #122b40;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #2B2F32;
  border-color: #000;
}
.btn-success .badge {
  color: #2B2F32;
  background-color: #fff;
}


.progress-bar-success2{
  background-color: #25358C;
}
.btn-success2 {
  color: #fff;
  /*background-color: #25358C;*/
  background-image: radial-gradient(circle at bottom left, #532899, #25358C);
  border-color: #25358C;
}
.btn-success2:focus,
.btn-success2.focus {
  color: #fff;
  background-color: #25358C;
  border-color: #122b40;
}
.btn-success2:hover {
  color: #fff;
  background-color: #25358C;
  border-color: #204d74;
}
.btn-success2:active,
.btn-success2.active,
.open > .dropdown-toggle.btn-success2 {
  color: #fff;
  background-color: #25358C;
  border-color: #204d74;
}
.btn-success2:active:hover,
.btn-success2.active:hover,
.open > .dropdown-toggle.btn-success2:hover,
.btn-success2:active:focus,
.btn-success2.active:focus,
.open > .dropdown-toggle.btn-success2:focus,
.btn-success2:active.focus,
.btn-success2.active.focus,
.open > .dropdown-toggle.btn-success2.focus {
  color: #fff;
  background-color: #25358C;
  border-color: #122b40;
}
.btn-success2:active,
.btn-success2.active,
.open > .dropdown-toggle.btn-success2 {
  background-image: none;
}
.btn-success2.disabled,
.btn-success2[disabled],
fieldset[disabled] .btn-success2,
.btn-success2.disabled:hover,
.btn-success2[disabled]:hover,
fieldset[disabled] .btn-success2:hover,
.btn-success2.disabled:focus,
.btn-success2[disabled]:focus,
fieldset[disabled] .btn-success2:focus,
.btn-success2.disabled.focus,
.btn-success2[disabled].focus,
fieldset[disabled] .btn-success2.focus,
.btn-success2.disabled:active,
.btn-success2[disabled]:active,
fieldset[disabled] .btn-success2:active,
.btn-success2.disabled.active,
.btn-success2[disabled].active,
fieldset[disabled] .btn-success2.active {
  background-color: #2B2F32;
  border-color: #000;
}
.btn-success2 .badge {
  color: #2B2F32;
  background-color: #fff;
}

.btn-success3 {
  color: #fff;
  background-color: #A7CA48;
  border-color: #A7CA48;
}
.btn-success3:focus,
.btn-success3.focus {
  color: #fff;
  background-color: #A7CA48;
  border-color: #122b40;
}
.btn-success3:hover {
  color: #fff;
  background-color: #A7CA48;
  border-color: #204d74;
}
.btn-success3:active,
.btn-success3.active,
.open > .dropdown-toggle.btn-success2 {
  color: #fff;
  background-color: #A7CA48;
  border-color: #204d74;
}
.btn-success3:active:hover,
.btn-success3.active:hover,
.open > .dropdown-toggle.btn-success2:hover,
.btn-success3:active:focus,
.btn-success3.active:focus,
.open > .dropdown-toggle.btn-success2:focus,
.btn-success3:active.focus,
.btn-success3.active.focus,
.open > .dropdown-toggle.btn-success2.focus {
  color: #fff;
  background-color: #A7CA48;
  border-color: #122b40;
}
.btn-success3:active,
.btn-success3.active,
.open > .dropdown-toggle.btn-success2 {
  background-image: none;
}
.btn-success3.disabled,
.btn-success3[disabled],
fieldset[disabled] .btn-success2,
.btn-success3.disabled:hover,
.btn-success3[disabled]:hover,
fieldset[disabled] .btn-success2:hover,
.btn-success3.disabled:focus,
.btn-success3[disabled]:focus,
fieldset[disabled] .btn-success2:focus,
.btn-success3.disabled.focus,
.btn-success3[disabled].focus,
fieldset[disabled] .btn-success2.focus,
.btn-success3.disabled:active,
.btn-success3[disabled]:active,
fieldset[disabled] .btn-success2:active,
.btn-success3.disabled.active,
.btn-success3[disabled].active,
fieldset[disabled] .btn-success2.active {
  background-color: #2B2F32;
  border-color: #000;
}
.btn-success3 .badge {
  color: #2B2F32;
  background-color: #fff;
}

/* Modals */
.modal-header{
    background-color: #262626;
}
.modal-header H4{
    color: #ddd;
}
/*/ Modals*/
/*
.breadcrumb {
  text-align: center;
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}
.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}
.breadcrumb a:first-child:before {
  left: 14px;
}
.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}

.breadcrumb a.active, .breadcrumb a:hover{
  background: #333;
  background: linear-gradient(#333, #000);
  color: black;
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow:
    2px -2px 0 2px rgba(0, 0, 0, 0.4),
    3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}
.breadcrumb a:last-child:after {
  content: none;
}
.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
}
*/

.flat a, .flat a:after {
  background: #fff;
  color: #777;
  transition: all 0.5s;
}
.flat a:before {
  background: #eee;
  box-shadow: 0 0 0 1px #ccc;
}
.flat .active:before {
  background: #FA5D58;
  color: black;
}

.flat .done:before {
  background: #A7CA48;
}
.flat .done {
  color: black;
}
.flat .todo:before {
  background: #eee;
}


.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
  background: #fff;
}
