.well{
	margin-bottom: 20px;	
}

.account_left{
	border-right: 4px dotted #aaa;
	padding-right: 100px;	
}
.account_right{
	padding-left: 100px;	
}

.error_box{
	display: inline;
	padding-bottom: 9px;
	padding-top: 7px;
	margin-right: 20px;
	visibility: hidden;
}