.progress-bar {
    border-right: solid 1px #FFF;
}
.progress-bar:last-child {
    border: none; 
}
.step{
	cursor: pointer;
}
.btn_tdb{
	width: 100px;
}

h4{
	display: inline;
}

.tab-pane{
	padding-top: 20px;
	padding-bottom: 20px;
}

.well{
	margin-bottom: 20px;	
}

.account_left{
	border-right: 4px dotted #aaa;
}
.account_right{
	padding-left: 20px;	
}

#account_tab .email{
	font-style: italic;
	color: #777;
}

.error_box{
	display: inline;
	padding-bottom: 9px;
	padding-top: 7px;
	margin-right: 20px;
	visibility: hidden;
}